$base-font-size:12px !default;
$base-font-family:Tahoma, Arial, \5FAE\8F6F\96C5\9ED1, \5B8B\4F53 !default;
$base-font-color:#333 !default;
$base-link-color:#f57a11 !default;
$base-back-color:#fff !default;
$base-line-height:1.5 !default;
$base-border-color:#ddd !default;


$page-width: 1190px !default;
$side-width: 200px !default;


$color-alert: #f41a11;
$color-black: #000;
$color-white: #fff;
$color-gray: #808080;
$color-red: #f41a11;
$color-orange: #f47a11;
$color-yellow: #f4d811;
$color-green: #57b80d;
$color-blue: #0c5caf;
$color-purple: #720ba4;


$input-border-color: #ccc !default;
$input-active-color: darken($input-border-color, 6.5%) !default;